header {
    color: white;
    text-align: center;
  }
  
  .btn {
    color: white;
  }
  
  label {
    font-weight: bold;
  }

.card {
  color: white;
  width: 15%;
}

.background {
  background-color: #d3d3d3;
}
.column-back {
  background-color: #87CEFA;
}